[user]
  name = Matheus Azzi
  email = matheuslazzi@gmail.com

[core]
  editor = hx
  excludesfile = ~/.gitignore

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[merge]
  log = true

[alias]
  a = add
  p = push
  s = status
  c = commit
  l = log --pretty=oneline --abbrev-commit
  all = add --all .
  cm = commit -m
  co = checkout
  pl = pull
  plo = pull origin
  br = branch

[credential]
  helper = osxkeychain

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
