#!/bin/bash

alias desktop="cd $DESKTOP"
alias downloads="cd $DOWNLOADS"
alias workspace="cd $WORKSPACE"
alias desk="cd $DESKTOP"
alias down="cd $DOWNLOADS"
alias work="cd $WORKSPACE"
alias personal="cd $WORKSPACE/personal"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Call MacOS Software Update
alias macupdate="sudo softwareupdate -i -r"

# Start a server on port 5000
alias server="ruby -run -e httpd -- -p 5000"

# Change zshrc config
alias zshconfig="hx ~/.zshrc"
alias reload!=". ~/.zshrc"

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'

alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

alias ios="open /Applications/Xcode.app/Contents/Developer/Applications/Simulator.app"
alias watchos="open /Applications/Xcode.app/Contents/Developer/Applications/Simulator\ \(Watch\).app"

# Git aliases
alias g="git"
alias ga="git add"
alias gaa="git add --all ."
alias gall="git add --all ."
alias gb="git branch"
alias gc="git commit --verbose"
alias gcm="git commit -m"
alias gco="git checkout"
alias gd="git diff"
alias gl="git log --pretty=oneline --abbrev-commit"
alias gp="git push"
alias gpl="git pull"
alias gplo="git pull origin"
alias gpo="git push origin"
alias grb="git rebase"
alias grs="git reset"
alias gs="git status"

# Ruby bundler aliases
alias b="bundle"
alias bx="bundle exec"

# Postgres aliases
alias postgres-start="$(asdf where postgres)/bin/pg_ctl -D $(asdf where postgres)/data start"
alias postgres-stop="$(asdf where postgres)/bin/pg_ctl -D $(asdf where postgres)/data stop"

# Map vim to helix-editor
alias vim="hx"
alias v="hx"

# Docker aliases
alias d="docker"
alias db="docker build"
alias de="docker exec"
alias dr="docker run"
alias dp="docker pull"

alias dc="docker-compose"
alias dcr="docker-compose run"
alias dcrm="docker-compose run --rm"
alias dcst="docker-compose start"
alias dcsp="docker-compose stop"
alias dcu="docker-compose up"
alias dcd="docker-compose down"
